{% extends "encyclopedia/layout.html" %}

{% block body %}

<form action = "" method = "post">
{% csrf_token %}
<h1>{{title}}</h1>
<label for = "title">
{% if config and config == "create" %}
Create a title 
{% else %}
Edit title
{% endif %}
</label><br>
<input id = "title" type = "text" name = "title" value = "{{title|safe}}" required/>
{{ unavailable_entry }}
<p data-config = "{{config}}"></p>

<label for="content">
  {% if config and config == "create" %} 
  Create content 
  {% else %}
  Edit content
  {% endif %}
</label><br>
<textarea style ="height: auto" name = "content" id = "content" rows = "10" required>{{entry|safe}}</textarea>
<input type = "hidden" name = "config" value = {{config}}/>
<ul>
  {% if config == "create" %}
  <li>
    <button name = "submit" value = "create" type=submit>
      Create
    </button>
  </li>
  <li>
    <button type = "submit">
      Cancel
    </button>
  </li>
  {% else %} 

  <button type = "submit" name = "submit" value = "update" disabled>
    Update
  </button>
  <li>
    <button type = "submit">
      Cancel
    </button>
  </li>
  {% endif %}
</ul>
</form>
{% endblock %}