{% extends "encyclopedia/layout.html" %}
{% block body %}
<h4>
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {% if message.tags %} {% endif %} {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h1>
    Oops, looks like we ran into an error :(
  </h1>
  <h2>
    {{ errormsg }}
  </h2>
  <h3>
    There were no exact matches for "{{search}}", the following are close:
    <ul>
      {% for entry in entry_list %}
      <li><a href="{% url 'wiki:title' title=entry %}">{{ entry }}</a></li> 
      {% endfor %}
    </ul>
  </h3>
  {% endif %}
</h4>
{% endblock %}